@charset "utf-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;	
}

.col-1	{width:8.33%;}
.col-2	{width:16.66%;}
.col-3	{width:25%;}
.col-4	{width:33.33%;}
.col-5	{width:41.66%;}
.col-6	{width:50%;}
.col-7	{width:58.33%;}
.col-8	{width:66.66%;}
.col-9	{width:75%;}
.col-10	{width:83.33%;}
.col-11	{width:91.66%;}
.col-12	{width:100%;}

[class*="col-"]{
	float:left;
	padding:15px;
}

.prefix-1	{margin-left:8.33%;}
.prefix-2	{margin-left:16.66%;}
.prefix-3	{margin-left:25%;}
.prefix-4	{margin-left:33.33%;}
.prefix-5	{margin-left:41.66%;}
.prefix-6	{margin-left:50%;}
.prefix-7	{margin-left:58.33%;}
.prefix-8	{margin-left:66.66%;}
.prefix-9	{margin-left:75%;}
.prefix-10	{margin-left:83.33%;}
.prefix-11	{margin-left:91.66%;}

.suffix-1	{margin-right:8.33%}
.suffix-2	{margin-right:16.66%}
.suffix-3	{margin-right:25%}
.suffix-4	{margin-right:33.33%}
.suffix-5	{margin-right:41.66%}
.suffix-6	{margin-right:50%}
.suffix-7	{margin-right:58.33%}
.suffix-8	{margin-right:66.66%}
.suffix-9	{margin-right:75%}
.suffix-10	{margin-right:83.33%}
.suffix-12	{margin-right:91.66%}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.row{
	max-width:1320px;
	margin:0 auto;	
}


.clearfix {
  overflow: auto;
}

@media screen and (max-width:1230px){
	[class*="suffix-"]{
		margin-right:0;	
	}		
}

@media screen and (max-width:720px){
	[class*="suffix-"]{
		margin-right:0;	
	}
	
	[class*="prefix-"]{
		margin-left:0;	
	}
	
}

@media screen and (max-width:620px){
	[class*="suffix-"]{
		margin-right:0;	
	}
	
	[class*="prefix-"]{
		margin-left:0;	
	}
	
}